# Highest impressions per minute still ads from Snapchat political ads library 2019

Data obtained from Snapchat publically available dataset:

https://www.snap.com/en-US/political-ads/

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('max_colwidth', 1000)
colnames=['ADID'
'CreativeUrl',
'Currency Code',
'Spend',
'Impressions',
'StartDate',
'EndDate',
'OrganizationName',
'BillingAddress',
'CandidateBallotInformation',
'PayingAdvertiserName',
'Gender',
'AgeBracket',
'CountryCode',
'Regions (Included)',
'Regions (Excluded)'] 
data = pd.read_csv('poliAds.csv', names=colnames, header=None)
filename = 'PoliAds.csv'
data = pd.read_csv(filename)
data.describe()

               Spend   Impressions
count    3542.000000  3.542000e+03
mean     1634.835404  7.019963e+05
std     12934.508147  5.322844e+06
min         0.000000  1.000000e+00
25%        28.000000  9.707250e+03
50%       141.500000  5.430850e+04
75%       616.750000  2.756530e+05
max    451244.000000  2.349018e+08

In [4]:
# Selecting ads with extensions that are not videos (mp4). 
#Result is list of still ads with extensions jpg and png

df = data.loc[data['CreativeUrl'].str.contains('mp4')==False]

In [5]:
df1 =  df.loc[:,['OrganizationName','CreativeUrl', 'Currency Code','Spend','Impressions','StartDate','EndDate']]

In [24]:
df1.describe()

               Spend   Impressions
count    1013.000000  1.013000e+03
mean      678.537019  3.163336e+05
std      4168.121440  1.936486e+06
min         0.000000  2.000000e+00
25%        18.000000  4.474000e+03
50%        96.000000  3.078300e+04
75%       359.000000  1.405620e+05
max    118706.000000  5.004457e+07

In [13]:
# Sorting still ads by highest impression number

sorted = df1.sort_values(by='Impressions',ascending=False)

In [7]:
#Converting date range to minute count

import datetime
date_format = "%Y/%m/%d %H:%M:%S%z"
sorted['StartDate'] = pd.to_datetime(sorted['StartDate'])
sorted['EndDate'] = pd.to_datetime(sorted['EndDate'])
#a = datetime.datetime.strptime(y, date_format)
#b = datetime.datetime.strptime(z, date_format)
sorted['diff'] = sorted['EndDate']-sorted['StartDate']
sorted['diff']= sorted['diff']/np.timedelta64(1,'m')
sorted.head(5)

,OrganizationName,CreativeUrl,Currency Code,Spend,Impressions,StartDate,EndDate,diff
1919,R/GA,https://www.snap.com/political-ads/asset/cf786df6d8d1f21efd662cf03ab271ebb48afd385ea8ed5789734a57a22be541?mediaType=mov,USD,118706,50044571,2019-09-03 18:00:00+00:00,2019-11-05 04:59:59+00:00,89939.983333
3330,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/77eb331f142f7a7cbfc5d2209bd33ccc95a73334f9d8ff6ce6beff7f1d733b93?mediaType=jpg,EUR,14882,18228091,2019-05-18 10:43:30+00:00,2019-05-24 21:59:32+00:00,9316.033333
3166,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/8d492f51654dc9001e103d2ca9a6fdff6511fca6c2d559ccecd485026a7b6936?mediaType=png,EUR,5773,18045836,2019-07-14 07:00:16+00:00,2019-07-15 06:59:16+00:00,1439.000000
2846,R/GA,https://www.snap.com/political-ads/asset/9865a17d30ab5bf016c64db0b09354bd639124fd11a322327156036484b457fb?mediaType=mov,USD,25157,11047746,2019-09-03 18:00:00+00:00,2019-11-05 04:59:59+00:00,89939.983333
2500,The North Face,https://www.snap.com/political-ads/asset/9a754563434d6d51512bc8c69b9b7cc809447d5c363958e15b13c92dcd8831a4?mediaType=jpg,USD,17654,10612741,2019-04-19 14:31:02+00:00,2019-04-22 04:59:17+00:00,3748.250000

In [8]:
# Calculating impressions/per minute ratio

sorted['Impressions/min'] = sorted['Impressions'] / sorted['diff']
sorted.head()

,OrganizationName,CreativeUrl,Currency Code,Spend,Impressions,StartDate,EndDate,diff,Impressions/min
1919,R/GA,https://www.snap.com/political-ads/asset/cf786df6d8d1f21efd662cf03ab271ebb48afd385ea8ed5789734a57a22be541?mediaType=mov,USD,118706,50044571,2019-09-03 18:00:00+00:00,2019-11-05 04:59:59+00:00,89939.983333,556.421840
3330,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/77eb331f142f7a7cbfc5d2209bd33ccc95a73334f9d8ff6ce6beff7f1d733b93?mediaType=jpg,EUR,14882,18228091,2019-05-18 10:43:30+00:00,2019-05-24 21:59:32+00:00,9316.033333,1956.636516
3166,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/8d492f51654dc9001e103d2ca9a6fdff6511fca6c2d559ccecd485026a7b6936?mediaType=png,EUR,5773,18045836,2019-07-14 07:00:16+00:00,2019-07-15 06:59:16+00:00,1439.000000,12540.539263
2846,R/GA,https://www.snap.com/political-ads/asset/9865a17d30ab5bf016c64db0b09354bd639124fd11a322327156036484b457fb?mediaType=mov,USD,25157,11047746,2019-09-03 18:00:00+00:00,2019-11-05 04:59:59+00:00,89939.983333,122.834646
2500,The North Face,https://www.snap.com/political-ads/asset/9a754563434d6d51512bc8c69b9b7cc809447d5c363958e15b13c92dcd8831a4?mediaType=jpg,USD,17654,10612741,2019-04-19 14:31:02+00:00,2019-04-22 04:59:17+00:00,3748.250000,2831.385580

In [11]:
# Sorting data from highest to lowest impressions/minute 
# Selecting top 5

sortedbyminute = sorted.sort_values(by='Impressions/min',ascending=False)
y = sortedbyminute.head()
y.iloc[:,[0,1,2,3,4,5,6,8]]

,OrganizationName,CreativeUrl,Currency Code,Spend,Impressions,StartDate,EndDate,Impressions/min
3166,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/8d492f51654dc9001e103d2ca9a6fdff6511fca6c2d559ccecd485026a7b6936?mediaType=png,EUR,5773,18045836,2019-07-14 07:00:16+00:00,2019-07-15 06:59:16+00:00,12540.539263
2500,The North Face,https://www.snap.com/political-ads/asset/9a754563434d6d51512bc8c69b9b7cc809447d5c363958e15b13c92dcd8831a4?mediaType=jpg,USD,17654,10612741,2019-04-19 14:31:02+00:00,2019-04-22 04:59:17+00:00,2831.385580
2251,Recreational Equipment Inc.,https://www.snap.com/political-ads/asset/50254134c7030bdb8f6aab4add7d9dee81cf233e5cfb5936c45d0df3f8a40c4f?mediaType=png,USD,23362,3318029,2019-09-20 10:00:00+00:00,2019-09-21 06:59:59+00:00,2633.391182
3330,Dentsu Aegis Network France,https://www.snap.com/political-ads/asset/77eb331f142f7a7cbfc5d2209bd33ccc95a73334f9d8ff6ce6beff7f1d733b93?mediaType=jpg,EUR,14882,18228091,2019-05-18 10:43:30+00:00,2019-05-24 21:59:32+00:00,1956.636516
2901,Recreational Equipment Inc.,https://www.snap.com/political-ads/asset/50254134c7030bdb8f6aab4add7d9dee81cf233e5cfb5936c45d0df3f8a40c4f?mediaType=png,USD,14898,1895105,2019-09-20 10:00:00+00:00,2019-09-21 06:59:59+00:00,1504.071482

In [12]:
sortedbyminute = sorted.sort_values(by='Impressions/min')
y = sortedbyminute.head()
y.iloc[:,[1,2,3,4,5,6,8]]

,CreativeUrl,Currency Code,Spend,Impressions,StartDate,EndDate,Impressions/min
1223,https://www.snap.com/political-ads/asset/416da3d40ad06fc250d4de24535373c9543176cb228926dbd98b8775bc876ae4?mediaType=png,USD,70,26626,2019-09-04 04:00:00+00:00,2019-08-31 03:59:59+00:00,-4.622556
1387,https://www.snap.com/political-ads/asset/09a8bd38b186069daa62d1434869db43971dd6e08fdb52e86446ac57925be0e8?mediaType=png,USD,56,20335,2019-09-04 04:00:00+00:00,2019-08-31 03:59:59+00:00,-3.530372
718,https://www.snap.com/political-ads/asset/24c6ca8e97f3b8d8511a79eb8573c78b42f66f4f5abdde82ab2f407993feae46?mediaType=png,USD,52,18793,2019-09-04 04:00:00+00:00,2019-08-31 03:59:59+00:00,-3.262664
6,https://www.snap.com/political-ads/asset/09a8bd38b186069daa62d1434869db43971dd6e08fdb52e86446ac57925be0e8?mediaType=png,USD,51,18426,2019-09-04 04:00:00+00:00,2019-08-31 03:59:59+00:00,-3.198949
2648,https://www.snap.com/political-ads/asset/09a8bd38b186069daa62d1434869db43971dd6e08fdb52e86446ac57925be0e8?mediaType=png,USD,47,17753,2019-09-04 04:00:00+00:00,2019-08-31 03:59:59+00:00,-3.082109